<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>

	<appSettings>
		<!-- Đường dẫn API gốc -->
		<add key="API_BASE_URL" value="https://boostgamemobile.com/service" />

		<!-- Đường dẫn tới LDConsole -->
		<add key="LDCONSOLE_PATH" value="D:\LDPlayer\LDPlayer9\ldconsole.exe" />
	</appSettings>
</configuration>
